h1 DemoDexter

h3 What if cities released data in a network? And let you pin data onto it?

style(type="text/css") body{ line-height: 21pt; }

p DemoDexter stores the streets of San Francisco and the connections between them.
p You use the website to add data, and the API to get maps and network analysis out. 
br
p The examples below can be reworked to show how neighborhoods are served by local libraries, farmers' markets, or hackerspaces.
p
  | This is all very experimental, so I might not accept data forever. If you're interested in the project for your own city or projects, grab the source code&nbsp;
  a(href="http://github.com/codeforamerica/DemoDexter") on GitHub.


br
br

h3 Cool network data

p
  | I added a 'bart' tag to all of the streets with BART stations. Then I went to&nbsp;
  a(href="/access/bart") /access/bart
  | &nbsp;to get rules for each street in Carto for TileMill.

iframe(width='800', style="margin-left:18px;", height='370', frameBorder='0', src='http://a.tiles.mapbox.com/v3/mapmeld.sfbart.html#12/37.7704/-122.4066')

p(style="width:70%;")
  | You can see the first level of the network generated in the browser at&nbsp;
  a(href="/embed/bart")
    span /embed/bart
    br
    br
    img(src="/images/bartnetwork.png", style="margin-left:18px;")

p(style="width:70%;")
  | Another Code for America fellow (
  a(href="http://twitter.com/jllord") Jessica Lord
  | ) told me that choice was a major factor in urban planning, so I also added a &nbsp;
  a(href="/choice/chipotle") /choice/TAGNAME
  | &nbsp;endpoint. This is a /choice map representing your two nearest Chipotles.

iframe(width='800', style="margin-left:18px;", height='370', frameBorder='0', src='http://a.tiles.mapbox.com/v3/mapmeld.BARTChoice.html#12/37.7704/-122.4066')

h3 Useful network data

p(style="width:70%;")
  | I loaded 15 years of housing data from the City of Macon into another instance of DemoDexter. If you look at individual streets, it's hard to tell the worst streets (those with demolitions) from the rest of the pack. The distribution of these streets is just a dropoff:
  br
  br
  img(src="/images/DemoFrequency.png")
  br
  br
  | When statistics branch out to include connecting streets, you get more than just higher numbers. You get a better idea of a neighborhood. Most housing violations occur in neighborhoods with few demolitions, but houses that get demolished happen in neighborhoods peaking around 10-12 demolished neighbors
  br
  br
  img(src="/images/DemoInNetworkFrequency.png", style="width:48%;")
  img(src="/images/DemosInDemoNetworks.png", style="width:45%;")
  br
  br
  | These aren't the greatest diagrams, so I'd be happy to share the data with people with better maths.
  
h3 Start tagging this very minute

p
  | Go to&nbsp;
  a(href="/tags") /tags
  | &nbsp;to see what tags exist, and create a new one.

p
  | It'll be empty at first. Follow directions to add streets. Tweet to&nbsp;
  a(href="http://twitter.com/mapmeld") @mapmeld
  | &nbsp;once you've got a map started, or if you run into trouble.